@model IEnumerable<ProjetoTarefas.Models.Tarefa>;
@{
    ViewData["Title"] = "Agenda de Tarefas";
}
<h2>Lista de Tarefas</h2>
<p>
    <a class="btn btn-primary" asp-action="Criar">Nova Tarefa</a>
</p>
<br>
<form asp-action="Index" method="get">
    <div class="form-group d-flex">
        <input type="text" name="texto" class="form-control" value="@ViewBag.Texto" style="width: 50%;" placeholder="Título ou data da tarefa:">
        <button type="submit" class="btn btn-primary ms-2">Pesquisar</button>
    </div>
</form>
<br>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TarefaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataTarefa)
            </th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.TarefaId)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(model => item.DataTarefa)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Editar" asp-route-id="@item.TarefaId">Editar</a> 
                    <a class="btn btn-danger" asp-action="Deletar" asp-route-id="@item.TarefaId">Deletar</a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>